<div id="<%= dom_id labeling %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= labeling.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Label:</strong>
    <%= labeling.label_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expense:</strong>
    <%= labeling.expense_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this labeling", labeling, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this labeling', edit_labeling_path(labeling), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
