<!DOCTYPE html>
<html>
  <head>
    <title>FireApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <% if current_user %>
        <%= "Logged in as #{current_user.email}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', login_path(Login.new(email: current_user.email)), data: { turbo_method: 'delete' }  %>
      <% else %>
        <%= link_to 'Home', root_path %> | <%= link_to 'Log In', new_login_path %> or <%= link_to 'Sign Up', new_user_path %>
      <% end %>
      <hr>

      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <%= alert %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
